HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### React Settings ###

/REACTTEST/React/node_modules/
/REACTTEST/React/srcHolder/*
/REACTTEST/React/package.json
/REACTTEST/React/package-lock.json
/REACTTEST/React/README.md
/REACTTEST/React/public/